body{
  background-color: rgb(157, 246, 246);
  font-family: 'Amatic SC', cursive;
  text-align: center;
}
h1{
  font-size: xx-large;
}
.carousel-container{
  margin: 0 auto;
  width: 90vw;
  height: 80vh;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(229, 163, 196);
}
.carousel-button{
  position: absolute;
  top: 50%;
  transform:translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color:white;
  border: none;
  padding: 15px 20px;
  cursor:pointer;
  z-index:100;
}

#anterior{
  left: 0;
}
#siguiente{
  right: 0;
}
#anterior:hover , #siguiente:hover{
  background-color: rgb(7, 8, 8);
}
.carousel-slide-container {
  margin: auto auto;
  width: 300%; 
  height: 70vh;
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.carousel-slide {
  min-width: 100vw;  
  height: 100%; 
  z-index: inherit;
}

.carousel-slide img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; 
  display: block; 
  margin: auto; 
  border: 1px solid red
}